{
  "openapi": "3.1.2",
  "info": {
    "title": "Tailscale API",
    "description": "### Overview\n\n**The API endpoints documented here are stable unless otherwise noted. However, the OpenAPI spec used to generate this documentation is unstable. It may change or break without notice.**\n\nThe Tailscale API is a (mostly) RESTful API. Typically, both POST bodies and responses are JSON-encoded.\n\n### Base URL\n\nThe base URL for the Tailscale API is https://api.tailscale.com/api/v2/.\n\nExamples in this document may abbreviate this to \u0060/api/v2/\u0060.\n\n### Authentication\n\nRequests to the Tailscale API are authenticated with an API access token (sometimes called an API key).\nAccess tokens can be supplied as the username portion of HTTP Basic authentication\n(leave the password blank) or as an OAuth Bearer token:\n\n\u0060\u0060\u0060sh\n# passing token with basic auth\ncurl -u \u0022tskey-api-xxxxx:\u0022 https://api.tailscale.com/api/v2/...\n\n# passing token as bearer token\ncurl -H \u0022Authorization: Bearer tskey-api-xxxxx\u0022 https://api.tailscale.com/api/v2/...\n\u0060\u0060\u0060\n\nAccess tokens for individual users can be created and managed from the [Keys](https://login.tailscale.com/admin/settings/keys) page of the admin console. These tokens will have the same permissions as the owning user, and can be set to expire in 1 to 90 days. Access tokens are identifiable by the prefix tskey-api-.\n\nAlternatively, a trust credential (OAuth client or federated identity) can be used to create short-lived access tokens with scoped permission. Trust credentials don\u0027t expire, and can therefore be used to provide ongoing access to the API, creating access tokens as needed. Trust credentials and the access tokens they create are not tied to an individual Tailscale user. OAuth client secrets are identifiable by the prefix tskey-client-. Learn more about [trust credentials][kb-trust-credentials].\n\n[kb-trust-credentials]: https://tailscale.com/kb/1623/\n\n### Errors\n\nThe Tailscale API returns status codes consistent with standard HTTP conventions. In addition to the status code, errors may include additional information in the response body:\n\n\u0060\u0060\u0060json\n{\n  \u0022message\u0022: \u0022additional error information\u0022\n}\n\u0060\u0060\u0060\n\n### Pagination\n\nThe Tailscale API does not currently support pagination. All results are returned at once.",
    "termsOfService": "https://tailscale.com/terms",
    "license": {
      "name": "BSD 3-Clause",
      "url": "https://github.com/tailscale/tailscale/blob/main/LICENSE"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.tailscale.com/api/v2"
    }
  ],
  "paths": {
    "/tailnet/{tailnet}/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List tailnet devices",
        "description": "Lists the devices in a tailnet.\n\nOAuth Scope: \u0060devices:core:read\u0060.\n",
        "operationId": "ListTailnetDevices",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTailnetDevices200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Request took too long to process, please try again later.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "name": "\u003Cfield\u003E=\u003Cvalue\u003E filters",
          "in": "query",
          "description": "This endpoint supports server-side filtering of devices by specifying one\nor more filters in the form \u0060\u003Cfield\u003E=\u003Cvalue\u003E\u0060. Fields must be a top-level\ndevice property - e.g. \u0060isEphemeral\u0060, \u0060tags\u0060, \u0060hostname\u0060, etc. Values are\nmatched as _exact_ matches. Properties with simple types (strings, numbers,\ndates, etc) and lists are supported. Properties that are complex objects\n(e.g. \u0060clientConnectivity\u0060) are not supported. When multiple parameters are\nprovided, the server performs a logical \u0060AND\u0060 across all filter parameters\nbefore returning results. For example,\n\u0060isEphemeral=true\u0026tags=tag:prod\u0026tags=tag:subnetrouter\u0060 would return devices\nwhere \u0060isEphemeral\u0060 is \u0060true\u0060 and \u0060tags\u0060 contains both \u0060tag:prod\u0060 and\n\u0060tag:subnetrouter\u0060.\n",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/tailnet/{tailnet}": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete a tailnet",
        "description": "Delete the specified tailnet and all of its users, devices, and configuration.\n\n[API-only tailnets](https://tailscale.com/docs/features/tailnet-creation-api) can be deleted using an access\ntoken for the tailnet being deleted. You can get a tailnet-specific access token by exchanging either the OAuth\nclient credentials returned when the tailnet was created or an OAuth client from the creating tailnet that has\nthe \u0060all\u0060 scope.\n\nOAuth Scope: \u0060all\u0060.\n",
        "operationId": "DeleteTailnet",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Tailnet deletion could not be completed.",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "Tailnet deletion is not permitted.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/device-attributes": {
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Batch update custom device posture attributes",
        "description": "Batch updates posture attributes across devices in a tailnet.\n\nThis endpoint uses [JSON Merge Patch](https://datatracker.ietf.org/doc/html/rfc7396) semantics.\nSpecifying \u0060null\u0060 for an attribute will delete that attribute.\n\nAttributes must be in the \u0060custom:\u0060 namespace.\n\nOAuth Scope: \u0060devices:posture_attributes\u0060.\n",
        "operationId": "BatchUpdateCustomDevicePostureAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateCustomDevicePostureAttributesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateCustomDevicePostureAttributes200Response"
                }
              }
            }
          },
          "400": {
            "description": "An invalid request payload was sent",
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/device/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get a device",
        "description": "Retrieve the details for the specified device.\n\nOAuth Scope: \u0060devices:core:read\u0060.\n",
        "operationId": "GetDevice",
        "parameters": [
          {
            "description": "Optionally controls whether the response returns **all** fields or only a predefined subset of fields.\nCurrently, there are two supported options:\n\n- **\u0060all\u0060:** return all fields in the response\n- **\u0060default\u0060:** return the following fields\n  - \u0060addresses\u0060\n  - \u0060id\u0060\n  - \u0060nodeId\u0060\n  - \u0060user\u0060\n  - \u0060name\u0060\n  - \u0060hostname\u0060\n  - \u0060clientVersion\u0060\n  - \u0060updateAvailable\u0060\n  - \u0060os\u0060\n  - \u0060created\u0060\n  - \u0060connectedToControl\u0060\n  - \u0060lastSeen\u0060\n  - \u0060keyExpiryDisabled\u0060\n  - \u0060expires\u0060\n  - \u0060authorized\u0060\n  - \u0060isExternal\u0060\n  - \u0060machineKey\u0060\n  - \u0060nodeKey\u0060\n  - \u0060blocksIncomingConnections\u0060\n  - \u0060tailnetLockKey\u0060\n  - \u0060tailnetLockError\u0060\n  - \u0060tags\u0060\n  - \u0060isEphemeral\u0060\n\nIf the \u0060fields\u0060 parameter is not supplied, then the default (limited fields) option is used.\n",
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied.",
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device",
        "description": "Deletes the device from its tailnet.\nThe device must belong to the requesting user\u0027s tailnet.\nDeleting devices shared with the tailnet is not supported.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "DeleteDevice",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Invalid device value.",
            "$ref": "#/components/responses/400"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "501": {
            "description": "Device not owned by tailnet.",
            "$ref": "#/components/responses/501"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/expire": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Expire a device\u0027s key",
        "description": "Mark a device\u0027s node key as expired.\nThis will require the device to re-authenticate in order to connect to the tailnet.\nThe device must belong to the requesting user\u0027s tailnet.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "ExpireDeviceKey",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/routes": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List device routes",
        "description": "Retrieve the list of subnet routes that a device is advertising,\nas well as those that are enabled for it.\n\nRoutes must be both advertised and enabled for a device to act as a subnet router or exit node.\nIf a device has advertised routes, they are not exposed to traffic until they are enabled.\nConversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.\n\nLearn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).\n\nOAuth Scope: \u0060devices:routes:read\u0060.\n",
        "operationId": "ListDeviceRoutes",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRoutes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Set device routes",
        "description": "Set a device\u0027s enabled subnet routes by replacing the existing list of subnet routes with the supplied parameters.\n[Advertised routes](/kb/1019/subnets#advertise-subnet-routes) cannot be set through the API, since they must be set directly on the device.\n\nRoutes must be both advertised and enabled for a device to act as a subnet router or exit node.\nIf a device has advertised routes, they are not exposed to traffic until they are enabled.\nConversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.\n\nLearn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).\n\nOAuth Scope: \u0060devices:routes\u0060.\n",
        "operationId": "SetDeviceRoutes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDeviceRoutesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRoutes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/authorized": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Authorize device",
        "description": "This call marks a device as authorized or revokes its authorization for tailnets where device authorization is required,\naccording to the authorized field in the payload.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "AuthorizeDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeDeviceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/name": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Set device name",
        "description": "When a device is added to a tailnet, its Tailscale [device name](https://tailscale.com/kb/1098/machine-names) (also sometimes referred to as machine name) is generated from its OS hostname.\nThe device name is the canonical name for the device on your tailnet.\n\nDevice name changes immediately get propogated through your tailnet, so be aware that any existing [Magic DNS](https://tailscale.com/kb/1081/magicdns) URLs using the old name will no longer work.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "SetDeviceName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDeviceNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/tags": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Set device tags",
        "description": "Tags let you assign an identity to a device that is separate from human users, and use that identity as part of an ACL to restrict access.\nTags are similar to role accounts, but more flexible.\n\nTags are created in the tailnet policy file by defining the tag and an owner of the tag.\nOnce a device is tagged, the tag is the owner of that device.\nA single node can have multiple tags assigned.\n\nConsult the policy file for your tailnet in the [admin console](https://login.tailscale.com/admin/acls) for the list of tags that have been created for your tailnet.\nLearn more about [tags](https://tailscale.com/kb/1068/).\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "SetDeviceTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDeviceTagsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/400"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/key": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Update device key",
        "description": "When a device is added to a tailnet, its key expiry is set according to the tailnet\u0027s key expiry setting.\nIf the key is not refreshed and expires, the device can no longer communicate with other devices in the tailnet.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "UpdateDeviceKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeviceKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/ip": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Set device IPv4 address",
        "description": "When a device is added to a tailnet, its Tailscale IPv4 address is set at random either from the CGNAT range,\nor a subset of the CGNAT range specified by an [ip pool](https://tailscale.com/kb/1304/ip-pool).\nThis endpoint can be used to replace the existing IPv4 address with a specific value.\n\nThis action will break any existing connections to this machine.\nYou will need to reconnect to this machine using the new IP address.\nYou may also need to flush your DNS cache.\n\nOAuth Scope: \u0060devices:core\u0060.\n",
        "operationId": "SetDeviceIp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDeviceIpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/attributes": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device posture attributes",
        "description": "Retrieve all posture attributes for the specified device.\nThis returns a JSON object of all the key-value pairs of posture attributes for the device.\n\nOAuth Scope: \u0060devices:posture_attributes:read\u0060.\n",
        "operationId": "GetDevicePostureAttributes",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicePostureAttributes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/device/{deviceId}/attributes/{attributeKey}": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Set custom device posture attributes",
        "description": "Create or update a custom posture attribute on the specified device.\nUser-managed attributes must be in the custom namespace,\nwhich is indicated by prefixing the attribute key with \u0060custom:\u0060.\n\nOAuth Scope: \u0060devices:posture_attributes\u0060.\n",
        "operationId": "SetCustomDevicePostureAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCustomDevicePostureAttributesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicePostureAttributes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "429": {
            "description": "Too Many Requests.",
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete custom device posture attributes",
        "description": "Delete a posture attribute from the specified device.\nThis is only applicable to user-managed posture attributes in the custom namespace,\nwhich is indicated by prefixing the attribute key with \u0060custom:\u0060.\n\nOAuth Scope: \u0060devices:posture_attributes\u0060.\n",
        "operationId": "DeleteCustomDevicePostureAttributes",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "429": {
            "description": "Too Many Requests.",
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        },
        {
          "$ref": "#/components/parameters/attributeKey"
        }
      ]
    },
    "/device/{deviceId}/device-invites": {
      "get": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "List device invites",
        "description": "List all share invites for a device.\n\nOAuth Scope: \u0060device_invites:read\u0060.\n",
        "operationId": "ListDeviceInvites",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceInvites200ResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "post": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "Create device invites",
        "description": "Create new share invites for a device.\n\nNote that device invites cannot be created using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "CreateDeviceInvites",
        "requestBody": {
          "description": "Device invites to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceInvitesRequestRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDeviceInvites200ResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Gateway timeout.",
            "$ref": "#/components/responses/504"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ]
    },
    "/tailnet/{tailnet}/user-invites": {
      "get": {
        "tags": [
          "UserInvites"
        ],
        "summary": "List user invites",
        "description": "List all open (not yet accepted) user invites to the tailnet.",
        "operationId": "ListUserInvites",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserInvites200ResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "UserInvites"
        ],
        "summary": "Create user invites",
        "description": "Create, and optionally email out, new user invites to join the tailnet.\n\n\u003E \u24D8 Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "CreateUserInvites",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserInvitesRequestRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserInvites200ResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/user-invites/{userInviteId}": {
      "get": {
        "tags": [
          "UserInvites"
        ],
        "summary": "Get a user invite",
        "description": "Retrieve a specific user invite.\n",
        "operationId": "GetUserInvite",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvite"
                }
              }
            }
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "UserInvites"
        ],
        "summary": "Delete a user invite",
        "description": "Deletes a specific user invite.\n\n\u003E \u24D8 Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "DeleteUserInvite",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/userInviteId"
        }
      ]
    },
    "/user-invites/{userInviteId}/resend": {
      "post": {
        "tags": [
          "UserInvites"
        ],
        "summary": "Resend a user invite",
        "description": "Resend a user invite by email. You can only use this if the specified invite\nwas originally created with an email specified.\nRefer to [creating user invites for a tailnet](#tag/userinvites/post/tailnet/{tailnet}/user-invites).\n\nNote: Invite resends are rate limited to one per minute.\n\n\u003E \u24D8 Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "ResendUserInvite",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/userInviteId"
        }
      ]
    },
    "/device-invites/{deviceInviteId}": {
      "get": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "Get a device invite",
        "description": "Retrieve a specific device invite.\n\nOAuth Scope: \u0060device_invites:read\u0060.\n",
        "operationId": "GetDeviceInvite",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInvite"
                }
              }
            }
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "Delete a device invite",
        "description": "Delete a specific device invite.\n\nOAuth Scope: \u0060device_invites\u0060.\n",
        "operationId": "DeleteDeviceInvite",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceInviteId"
        }
      ]
    },
    "/device-invites/{deviceInviteId}/resend": {
      "post": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "Resend a device invite",
        "description": "Resend a device invite by email. You can only use this if the specified invite\nwas originally created with an email specified.\nRefer to [creating device invites for a device](#tag/deviceinvites/post/device/{deviceId}/device-invites).\n\nNote: Invite resends are rate limited to one per minute.\n\nNote that device invites cannot be resent using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "ResendDeviceInvite",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceInviteId"
        }
      ]
    },
    "/device-invites/accept": {
      "post": {
        "tags": [
          "DeviceInvites"
        ],
        "summary": "Accept a device invite",
        "description": "Accepts the invitation to share a device into the requesting user\u0027s tailnet.\n\nNote that device invites cannot be accepted using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "AcceptDeviceInvite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptDeviceInviteRequest"
              },
              "examples": {
                "usingFullUrl": {
                  "summary": "Using the full invite URL",
                  "value": {
                    "invite": "https://login.tailscale.com/admin/invite/xxxxxx"
                  }
                },
                "usingCodeComponent": {
                  "summary": "Using \u0060code\u0060 component of the invite URL",
                  "value": {
                    "invite": "xxxxxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDeviceInvite200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/400"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/logging/configuration": {
      "get": {
        "tags": [
          "Logging"
        ],
        "summary": "List configuration audit logs",
        "description": "List all configuration audit logs for a tailnet.\n\nOAuth Scope: \u0060logs:configuration:read\u0060.\n",
        "operationId": "ListConfigurationAuditLogs",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigurationAuditLogs200Response"
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to view configuration audit logs.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Logging is not supported on this deployment of Tailscale.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/start"
        },
        {
          "$ref": "#/components/parameters/end"
        },
        {
          "$ref": "#/components/parameters/actor"
        },
        {
          "$ref": "#/components/parameters/target"
        },
        {
          "$ref": "#/components/parameters/event"
        }
      ]
    },
    "/tailnet/{tailnet}/logging/network": {
      "get": {
        "tags": [
          "Logging"
        ],
        "summary": "List network flow logs",
        "description": "List all network flow logs for a tailnet.\n\nOAuth Scope: \u0060logs:network:read\u0060.\n",
        "operationId": "ListNetworkFlowLogs",
        "responses": {
          "200": {
            "description": "Successful operation. The \u0060logs\u0060 field contains an array of [NetworkFlowLog](#model/networkflowlog) objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNetworkFlowLogs200Response"
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to view network flow logs.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Logging is not supported on this deployment of Tailscale.",
            "$ref": "#/components/responses/404"
          },
          "502": {
            "description": "The system was unable to communicate with logging server.",
            "$ref": "#/components/responses/502"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/start"
        },
        {
          "$ref": "#/components/parameters/end"
        }
      ]
    },
    "/tailnet/{tailnet}/logging/{logType}/stream/status": {
      "get": {
        "tags": [
          "Logging"
        ],
        "summary": "Get log streaming status",
        "description": "Retrieve the log streaming status for the provided log type.\n\nOAuth Scope: \u0060log_streaming:read\u0060.\n",
        "operationId": "GetLogStreamingStatus",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogstreamEndpointPublishingStatus"
                }
              }
            }
          },
          "404": {
            "description": "Log streaming has not been configured, this \u0060logType\u0060 is not supported, or user does not have sufficient access to view log streaming status.",
            "$ref": "#/components/responses/404"
          },
          "502": {
            "description": "The system was unable to communicate with logging server.",
            "$ref": "#/components/responses/502"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/logType"
        }
      ]
    },
    "/tailnet/{tailnet}/logging/{logType}/stream": {
      "get": {
        "tags": [
          "Logging"
        ],
        "summary": "Get log streaming configuration",
        "description": "Retrieve the log streaming configuration for the provided log type.\n\nOAuth Scope: \u0060log_streaming:read\u0060.\n",
        "operationId": "GetLogStreamingConfiguration",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogstreamEndpointConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Log streaming has not been configured, this \u0060logType\u0060 is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Logging"
        ],
        "summary": "Set log streaming configuration",
        "description": "Set the log streaming configuration for the provided log type.\n\nOAuth Scope: \u0060log_streaming\u0060. \u0060device_invites\u0060 and \u0060policy_file\u0060 are also required if streaming to a [private endpoint](https://tailscale.com/kb/1255/log-streaming#private-endpoints).\n",
        "operationId": "SetLogStreamingConfiguration",
        "requestBody": {
          "description": "The [LogstreamEndpointConfiguration](#model/logstreamendpointconfiguration) to set.\n\u0060logType\u0060 is specified in the request URL rather than the body.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogstreamEndpointConfiguration"
              },
              "example": {
                "destinationType": "elastic",
                "url": "http://100.71.134.73:80/config-log-datastream",
                "user": "myusername",
                "token": "mytoken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to update log streaming configuration.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found, this \u0060logType\u0060 is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "Logging"
        ],
        "summary": "Disable log streaming",
        "description": "Delete the log streaming configuration for the provided log type.\n\nOAuth Scope: \u0060log_streaming\u0060.\n",
        "operationId": "DisableLogStreaming",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "403": {
            "description": "User does not have sufficient access to update log streaming configuration.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Log streaming has not been configured, this \u0060logType\u0060 is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/logType"
        }
      ]
    },
    "/tailnet/{tailnet}/aws-external-id": {
      "post": {
        "tags": [
          "Logging"
        ],
        "summary": "Create or get AWS external id",
        "description": "Get an AWS external id to use for streaming tailnet logs to S3 using role-based authentication,\ncreating a new one for this tailnet when necessary.\n\nOAuth Scope: \u0060log_streaming\u0060.\n",
        "operationId": "GetAwsExternalId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAwsExternalIdRequest"
              },
              "example": {
                "reusable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsExternalId"
                }
              }
            }
          },
          "403": {
            "description": "User does not have sufficient access to obtain an AWS external id.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/aws-external-id/{id}/validate-aws-trust-policy": {
      "post": {
        "tags": [
          "Logging"
        ],
        "summary": "Validate external ID integration with IAM role trust policy",
        "description": "Validate that Tailscale can assume your IAM role with (and only with)\nthis external ID.\n\nOAuth Scope: \u0060log_streaming\u0060.\n",
        "operationId": "ValidateAwsExternalId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAwsExternalIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation succeeded for this external ID and IAM role."
          },
          "403": {
            "description": "User does not have sufficient access for this tailnet.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet or external ID not found.",
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "Validation failed for this external ID and IAM role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAwsExternalId422Response"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The AWS external ID to validate.",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "60fe9ce7-7791-4ab3-ab34-4294f5972725"
        }
      ]
    },
    "/tailnet/{tailnet}/dns/nameservers": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "List DNS nameservers",
        "description": "Lists the global DNS nameservers for a tailnet.\n",
        "operationId": "ListDnsNameservers",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDnsNameservers200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Set DNS nameservers",
        "description": "Replaces the list of global DNS nameservers for the given tailnet with the list supplied in the request.\n\nNote that changing the list of DNS nameservers may also affect the status of MagicDNS (if MagicDNS is on; learn about [MagicDNS](https://tailscale.com/kb/1081)).\nIf all nameservers have been removed, MagicDNS will be automatically disabled (until explicitly turned back on by the user).\n",
        "operationId": "SetDnsNameservers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDnsNameserversRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDnsNameservers200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/dns/preferences": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get DNS preferences",
        "description": "Retrieves the DNS preferences that are currently set for the given tailnet.\n",
        "operationId": "GetDnsPreferences",
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Set DNS preferences",
        "description": "Set the DNS preferences for a tailnet; specifically, the MagicDNS setting.\nNote that MagicDNS is dependent on DNS servers.\nLearn about [MagicDNS](https://tailscale.com/kb/1081).\n\nIf there is at least one DNS server, then MagicDNS can be enabled.\nOtherwise, it returns an error.\n\nNote that removing all nameservers will turn off MagicDNS.\nTo reenable it, nameservers must be added back, and MagicDNS must be explicitly turned on.\n",
        "operationId": "SetDnsPreferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/dns/searchpaths": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "List DNS search paths",
        "description": "Retrieves the list of search paths, also referred to as *search domains*, that is currently set for the given tailnet.\n",
        "operationId": "ListDnsSearchPaths",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSearchPaths"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Set DNS search paths",
        "description": "Replaces the list of search paths for the given tailnet.\n",
        "operationId": "SetDnsSearchPaths",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsSearchPaths"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSearchPaths"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/dns/split-dns": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get split DNS",
        "description": "Retrieves the split DNS settings, which is a map from domains to lists of nameservers, that is currently set for the given tailnet.\n",
        "operationId": "GetSplitDns",
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSplitDns200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "DNS"
        ],
        "summary": "Update split DNS",
        "description": "Performs partial updates of the split DNS settings for a given tailnet.\nOnly domains specified in the request map will be modified.\nSetting the value of a mapping to \u0060null\u0060 clears the nameservers for that domain.\n",
        "operationId": "UpdateSplitDns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSplitDnsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSplitDns200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "tags": [
          "DNS"
        ],
        "summary": "Set split DNS",
        "description": "Replaces the split DNS settings for a given tailnet.\nSetting the value of a mapping to \u0060null\u0060 clears the nameservers for that domain.\nSending an empty object clears nameservers for all domains.\n",
        "operationId": "SetSplitDns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSplitDnsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetSplitDns200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/dns/configuration": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get DNS configuration",
        "description": "Retrieves the full DNS configuration for a tailnet, including global nameservers, split DNS routes, search paths, and MagicDNS configuration.\n",
        "operationId": "GetDnsConfiguration",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Set DNS configuration",
        "description": "Replaces the DNS configuration for the given tailnet.\n\n- \u0060nameservers\u0060 defines the global resolvers to use when \u0060preferences.overrideLocalDNS\u0060 is true.\n- \u0060splitDNS\u0060 maps DNS name suffixes (domains) to lists of resolvers for Split DNS.\n- \u0060searchPaths\u0060 sets custom DNS search domain paths.\n- \u0060preferences.overrideLocalDNS\u0060 controls whether resolvers in \u0060nameservers\u0060 override the local OS configuration (true) or are used or local resolvers are used (false). Defaults to false.\n- \u0060preferences.magicDNS\u0060 enables MagicDNS. Defaults to false.\n",
        "operationId": "SetDnsConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List tailnet keys",
        "description": "Returns a list of active auth keys, API access tokens and trust credentials.\n\nIf the parameter {all} was not specified, the set of keys returned depends on the access token used to make the request:\n- If the API call is made with a user-owned API access token, this returns only the keys owned by that user.\n- If the API call is made with an access token derived from an OAuth client, this returns all OAuth clients for the tailnet.\n- If the API call is made with an access token derived from a federated identity, this returns all federated identities for the tailnet.\n\nOAuth Scope: \u0060api_access_tokens:read\u0060 grants access to personal API access tokens.\n\nOAuth Scope: \u0060auth_keys:read\u0060 grants access to machine auth keys.\n\nOAuth Scope: \u0060oauth_keys:read\u0060 grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: \u0060federated_keys:read\u0060 grants access to federated identities.\n",
        "operationId": "ListTailnetKeys",
        "parameters": [
          {
            "description": "If set to true, this will return all auth keys, API access tokens and OAuth clients for the tailnet.",
            "$ref": "#/components/parameters/all"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTailnetKeys200Response"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create an auth key or trust credential",
        "description": "Creates a new [auth key](https://tailscale.com/kb/1085/), or [trust credential](https://tailscale.com/kb/1623/) in the specified tailnet.\nTrust credentials include [OAuth clients](https://tailscale.com/kb/1215/) and [federated identities](https://tailscale.com/kb/1581/).\nThe key will be associated with the user who owns the API access token used to make this call,\nor, if the call is made with an access token derived from an OAuth client or federated identity, the key will be owned by the tailnet.\n\nReturns a JSON object with the generated key.\nThe key should be recorded and kept safe and secure because it wields the capabilities or scopes specified in the request.\nThe identity of the key is embedded in the key itself and can be used to perform operations on the key (e.g., revoking it or retrieving information about it).\nThe full key can no longer be retrieved after the initial response.\n\nOAuth Scope: \u0060auth_keys\u0060 grants access to create machine auth keys.\n\nOAuth Scope: \u0060oauth_keys\u0060 grants access to create OAuth clients.\n\nOAuth Scope: \u0060federated_keys\u0060 grants access to created federated identities.\n",
        "operationId": "CreateKey",
        "requestBody": {
          "description": "The supported fields vary depending on the value of the \u0060keyType\u0060 field.\n\nFor auth keys, at a minimum, the request POST body must have a \u0060capabilities\u0060 object with a \u0060devices\u0060 object,\nthough it can be an empty JSON object.\nWith nothing else supplied, such a request generates a single-use key with no tags.\n\nFor OAuth clients, at a minimum the request POST body must have at least one scope.\n\nFor federated identities, at a minimum the request POST body must have at least one scope, a valid issuer, and a subject.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/keys/{keyId}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Get key",
        "description": "Returns a JSON object with information about a specific api access token, OAuth client, federated identity, or auth key, such as its creation and expiration dates and its capabilities.\n\nOAuth Scope: \u0060api_access_tokens:read\u0060 grants access to personal API access tokens.\n\nOAuth Scope: \u0060auth_keys:read\u0060 grants access to machine auth keys.\n\nOAuth Scope: \u0060oauth_keys:read\u0060 grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: \u0060federated_keys:read\u0060 grants access to federated identities.\n",
        "operationId": "GetKey",
        "responses": {
          "200": {
            "description": "Successful operation.\n\nResponse for a revoked (deleted) or expired key will have an \u0060invalid\u0060 field set to true.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet or key not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete key",
        "description": "Deletes a specific api access token or auth key.\n\nOAuth Scope: \u0060api_access_tokens\u0060 grants access to personal API access tokens.\n\nOAuth Scope: \u0060auth_keys\u0060 grants access to machine auth keys.\n\nOAuth Scope: \u0060oauth_keys\u0060 grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: \u0060federated_keys\u0060 grants access to federated identities.\n",
        "operationId": "DeleteKey",
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "403": {
            "description": "User does not have sufficient access to delete this key.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "tags": [
          "Keys"
        ],
        "summary": "Set key",
        "description": "Set the configuration for an existing OAuth client or federated identity.\n\nOAuth Scope: \u0060oauth_keys\u0060 grants access to OAuth clients.\n\nOAuth Scope: \u0060federated_keys\u0060 grants access to federated identities.\n",
        "operationId": "SetKey",
        "requestBody": {
          "description": "The supported fields vary depending on the value of the \u0060keyType\u0060 field.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/keyId"
        }
      ]
    },
    "/tailnet/{tailnet}/acl": {
      "get": {
        "tags": [
          "PolicyFile"
        ],
        "summary": "Get policy file",
        "description": "Retrieves the current policy file for the given tailnet; \nthis includes the ACL along with the rules and tests that have been defined.\n\nThis method can return the policy file as JSON or HuJSON, depending on the Accept header.\nThe response also includes an \u0060ETag\u0060 header, which can be optionally included when [setting the policy file](#tag/policyfile/post/tailnet/{tailnet}/acl) to avoid missed updates.\n\nLearn more about [policy file ACL syntax](https://tailscale.com/kb/1337/acl-syntax).\n\nOAuth Scope: \u0060policy_file:read\u0060.\n",
        "operationId": "GetPolicyFile",
        "parameters": [
          {
            "name": "details",
            "in": "query",
            "description": "Request a detailed description of the tailnet policy file by providing \u0060details=true\u0060 in the URL query string.\nSupplying any other value for \u0060details\u0060, or not sending the param, is treated as sending \u0060details=false\u0060.\nIf using this, do not supply an \u0060Accept\u0060 parameter in the header.\n\nThe response will contain a JSON object with the fields:\n- \u0060acl\u0060: a base64-encoded string representation of the huJSON format.\n- \u0060warnings\u0060: array of strings for syntactically valid but nonsensical entries.\n- \u0060errors\u0060: an array of strings for parsing failures.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPolicyFile200ResponseSchema"
                },
                "examples": {
                  "exampleJSONPolicyFile": {
                    "summary": "JSON response with details=false",
                    "$ref": "#/components/examples/ExampleJSONPolicyFile"
                  },
                  "exampleWithDetails": {
                    "summary": "JSON response with details=true",
                    "value": {
                      "acl": "Ly8gUG9raW5nIGFyb3VuZCBpbiB0aGUgQVBJIGRvY3MsIGhvcGluZyB5b3UnZCBmaW5kIHNvbWV0aGluZyBnb29kLCBlaD8KLy8gV2UgbGlrZSB5b3VyIHN0eWxlISAgR28gZ3JhYiB5b3Vyc2VsZiBhIFRhaWxzY2FsZSB0LXNoaXJ0IGlmIHRoZXJlIGFyZQovLyBzdGlsbCBzb21lIGF2YWlsYWJsZS4gQnV0IHNoaGguLi4gZG9uJ3QgdGVsbCBhbnlvbmUhCi8vCi8vICAgICAgICAgICAgIGh0dHBzOi8vc3dhZy5jb20vZ2lmdC82a29mNGs1Z3B1ZW95ZDB2NXd6MHJkYmMKewoJLy8gRGVjbGFyZSBzdGF0aWMgZ3JvdXBzIG9mIHVzZXJzIGJleW9uZCB0aG9zZSBpbiB0aGUgaWRlbnRpdHkgc2VydmljZS4KCSJncm91cHMiOiB7CgkJImdyb3VwOmV4YW1wbGUiOiBbInVzZXIxQGV4YW1wbGUuY29tIiwgInVzZXIyQGV4YW1wbGUuY29tIl0sCgl9LAoKCS8vIERlY2xhcmUgY29udmVuaWVudCBob3N0bmFtZSBhbGlhc2VzIHRvIHVzZSBpbiBwbGFjZSBvZiBJUCBhZGRyZXNzZXMuCgkiaG9zdHMiOiB7CgkJImV4YW1wbGUtaG9zdC0xIjogIjEwMC4xMDAuMTAwLjEwMCIsCgl9LAoKCS8vIEFjY2VzcyBjb250cm9sIGxpc3RzLgoJImFjbHMiOiBbCgkJLy8gTWF0Y2ggYWJzb2x1dGVseSBldmVyeXRoaW5nLgoJCS8vIENvbW1lbnQgdGhpcyBzZWN0aW9uIG91dCBpZiB5b3Ugd2FudCB0byBkZWZpbmUgc3BlY2lmaWMgcmVzdHJpY3Rpb25zLgoJCXsiYWN0aW9uIjogImFjY2VwdCIsICJ1c2VycyI6IFsiKiJdLCAicG9ydHMiOiBbIio6KiJdfSwKCV0sCn0K",
                      "warnings": [
                        "\u0022group:example\u0022: user not found: \u0022user1@example.com\u0022",
                        "\u0022group:example\u0022: user not found: \u0022user2@example.com\u0022"
                      ],
                      "errors": null
                    }
                  }
                }
              },
              "application/hujson": {
                "schema": {
                  "$ref": "#/components/schemas/GetPolicyFile200HujsonResponseSchema"
                },
                "examples": {
                  "exampleHuJSONPolicyFile": {
                    "$ref": "#/components/examples/ExampleHuJSONPolicyFile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "Forbidden.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "PolicyFile"
        ],
        "summary": "Set policy file",
        "description": "Sets the ACL for the given tailnet. HuJSON and JSON are both accepted inputs.\nAn \u0060If-Match\u0060 header can be set to avoid missed updates.\n\nOn success, returns the updated ACL in JSON or HuJSON according to the \u0060Accept\u0060 header.\nOtherwise, errors are returned for incorrectly defined ACLs, ACLs with failing tests on attempted updates, and mismatched \u0060If-Match\u0060 header and \u0060ETag\u0060.\n\nLearn more about [policy file ACL syntax](https://tailscale.com/kb/1337/acl-syntax).\n\nOAuth Scope: \u0060policy_file\u0060.\n",
        "operationId": "SetPolicyFile",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "This is a safety mechanism to avoid overwriting other users\u0027 updates to the tailnet policy file.\n\n- Set the \u0060If-Match\u0060 value to that of the \u0060ETag\u0060 header returned in a \u0060GET\u0060 request to \u0060/api/v2/tailnet/{tailnet}/acl\u0060.\n  Tailscale compares the \u0060ETag\u0060 value in your request to that of the current tailnet file and only replaces the file if there\u0027s a match.\n  (A mismatch indicates that another update has been made to the file.) For example: \u0060-H \u0022If-Match: \\\u0022e0b2816b418\\\u0022\u0022\u0060.\n- Alternately, set the \u0060If-Match\u0060 value to \u0060ts-default\u0060 to ensure that the policy file is replaced *only if the current policy file is still the untouched default created automatically* for each tailnet.\n  For example: \u0060-H \u0022If-Match: \\\u0022ts-default\\\u0022\u0022\u0060.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPolicyFileRequest"
              },
              "examples": {
                "exampleJSONPolicyFile": {
                  "$ref": "#/components/examples/ExampleJSONPolicyFile"
                }
              }
            },
            "application/hujson": {
              "schema": {
                "$ref": "#/components/schemas/SetPolicyFileHujsonRequestRequestBody"
              },
              "examples": {
                "exampleHuJSONPolicyFile": {
                  "$ref": "#/components/examples/ExampleHuJSONPolicyFile"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetPolicyFile200ResponseSchema"
                },
                "examples": {
                  "exampleJSONPolicyFile": {
                    "$ref": "#/components/examples/ExampleJSONPolicyFile"
                  }
                }
              },
              "application/hujson": {
                "schema": {
                  "$ref": "#/components/schemas/SetPolicyFile200HujsonResponseSchema"
                },
                "examples": {
                  "exampleHuJSONPolicyFile": {
                    "$ref": "#/components/examples/ExampleHuJSONPolicyFile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ACL validation or test error.",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "Forbidden.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "412": {
            "description": "If-Match hash mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "precondition failed, invalid old hash"
                  },
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/AcceptHeaderParam"
        }
      ]
    },
    "/tailnet/{tailnet}/acl/preview": {
      "post": {
        "tags": [
          "PolicyFile"
        ],
        "summary": "Preview rule matches",
        "description": "When given a user or IP port to match against,\nreturns the tailnet policy rules that apply to that resource,\nwithout saving the policy file to the server.\n",
        "operationId": "PreviewRuleMatches",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewRuleMatchesRequest"
              },
              "examples": {
                "exampleJSONPolicyFile": {
                  "$ref": "#/components/examples/ExampleJSONPolicyFile"
                }
              }
            },
            "application/hujson": {
              "schema": {
                "$ref": "#/components/schemas/PreviewRuleMatchesHujsonRequestRequestBody"
              },
              "examples": {
                "exampleHuJSONPolicyFile": {
                  "$ref": "#/components/examples/ExampleHuJSONPolicyFile"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The list of rules that apply to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewRuleMatches200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "Forbidden.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "name": "type",
          "in": "query",
          "description": "Specify for which type of resource (user or IP port) matching rules are to be fetched.\nRead about [previewing changes in the admin console](https://tailscale.com/kb/1018/#previewing-changes).\n\nOAuth Scope: \u0060policy_file:read\u0060.\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/TailnetTailnetAclPreviewType"
          }
        },
        {
          "name": "previewFor",
          "in": "query",
          "description": "- If \u0060type\u0060 is \u0060user\u0060, provide the email of a valid user with registered machines.\n- If \u0060type\u0060 is \u0060ipport\u0060, provide an IP address \u002B port: \u006010.0.0.1:80\u0060.\n\nThe supplied policy file is queried with this parameter to determine which rules match.\n",
          "required": true,
          "schema": {
            "type": "string",
            "example": "10.0.0.1:80"
          }
        }
      ]
    },
    "/tailnet/{tailnet}/acl/validate": {
      "post": {
        "tags": [
          "PolicyFile"
        ],
        "summary": "Validate and test policy file",
        "description": "This endpoint works in one of two modes, neither of which modifies your current tailnet policy file:\n\n- Run ACL tests: When the request body contains ACL tests as a JSON array,\n  Tailscale runs ACL tests against the tailnet\u0027s current policy file.\n  Learn more about [ACL tests](https://tailscale.com/kb/1337/acl-syntax#tests).\n- Validate a new policy file: When the request body is a JSON object,\n  Tailscale interprets the body as a hypothetical new tailnet policy file with new ACLs,\n  including any new rules and tests.\n  It validates that the policy file is parsable and runs tests to validate the existing rules.\n\nIn either case, this method does not modify the tailnet policy file in any way.\n\nOAuth Scope: \u0060policy_file:read\u0060.\n",
        "operationId": "ValidateAndTestPolicyFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAndTestPolicyFileJsonRequest"
              },
              "examples": {
                "aclTest": {
                  "summary": "Perform ACL tests",
                  "value": [
                    {
                      "src": "user1@example.com",
                      "accept": [
                        "example-host-1:22"
                      ],
                      "deny": [
                        "example-host-2:100"
                      ]
                    }
                  ]
                },
                "aclValidateJSON": {
                  "summary": "Validate JSON policy file",
                  "value": "{\n  \u0022acls\u0022: [\n   { \u0022action\u0022: \u0022accept\u0022, \u0022src\u0022: [\u0022100.105.106.107\u0022], \u0022dst\u0022: [\u00221.2.3.4:*\u0022] },\n  ],\n  \u0022tests\u0022, [\n    {\u0022src\u0022: \u0022100.105.106.107\u0022, \u0022allow\u0022: [\u00221.2.3.4:80\u0022]}\n  ],\n}\n"
                }
              }
            },
            "application/hujson": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAndTestPolicyFileHujsonRequestRequestBody"
              },
              "examples": {
                "aclValidateHuJSON": {
                  "summary": "Validate HuJSON policy file",
                  "value": "// Example/default ACLs for unrestricted connections.\n{\n  // Declare static groups of users beyond those in the identity service.\n  \u0022groups\u0022: {\n    \u0022group:example\u0022: [\u0022user1@example.com\u0022, \u0022user2@example.com\u0022]\n  },\n  // Declare convenient hostname aliases to use in place of IP addresses.\n  \u0022hosts\u0022: {\n    \u0022example-host-1\u0022: \u0022100.100.100.100\u0022\n  },\n  // Access control lists.\n  \u0022acls\u0022: [\n    // Match absolutely everything. Comment out this section if you want\n    // to define specific ACL restrictions.\n    { \u0022action\u0022: \u0022accept\u0022, \u0022users\u0022: [\u0022*\u0022], \u0022ports\u0022: [\u0022*:*\u0022] }\n  ]\n}\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation or tests have run. An empty response body implies passing validation or tests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAndTestPolicyFile200Response"
                },
                "examples": {
                  "testsOrValidationFailed": {
                    "summary": "Tests or validation failed",
                    "value": {
                      "message": "test(s) failed",
                      "data": [
                        {
                          "user": "user1@example.com",
                          "errors": [
                            "address \u00222.2.2.2:22\u0022: want: Drop, got: Accept"
                          ]
                        }
                      ]
                    }
                  },
                  "validateSCIMGroupsNotSynced": {
                    "summary": "Groups not syncing from SCIM",
                    "value": {
                      "message": "warning(s) found",
                      "data": [
                        {
                          "user": "group:unknown@example.com",
                          "warnings": [
                            "group is not syncing from SCIM and will be ignored by rules in the policy file"
                          ]
                        }
                      ]
                    }
                  },
                  "testsOrValidationSuccess": {
                    "summary": "Tests or validation succeeded",
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "Forbidden.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "description": "Internal server error.",
            "$ref": "#/components/responses/500"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/tailnet/{tailnet}/posture/integrations": {
      "get": {
        "tags": [
          "DevicePosture"
        ],
        "summary": "List all posture integrations",
        "description": "List all of the posture integrations for a tailnet.\n\nOAuth Scope: \u0060feature_settings:read\u0060.\n",
        "operationId": "GetPostureIntegrations",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostureIntegrations200Response"
                },
                "example": {
                  "integrations": [
                    {
                      "clientId": "myclientid",
                      "cloudId": "us-1",
                      "configUpdated": "2024-06-18T13:43:43.239839Z",
                      "id": "pcBEPQVMpki7DEVEL",
                      "provider": "falcon",
                      "status": {
                        "error": "oauth2: cannot fetch token: 401 Unauthorized\nResponse: {\n \u0022meta\u0022: {\n  \u0022query_time\u0022: 2.63e-7,\n  \u0022powered_by\u0022: \u0022crowdstrike-api-gateway\u0022,\n  \u0022trace_id\u0022: \u0022f36431bf-cda6-40c9-9afe-6d3db7c55026\u0022\n },\n \u0022errors\u0022: [\n  {\n   \u0022code\u0022: 401,\n   \u0022message\u0022: \u0022access denied, authorization failed\u0022\n  }\n ]\n}",
                        "lastSync": "2024-06-18T08:43:43.777283-05:00",
                        "matchedCount": 0,
                        "possibleMatchedCount": 0,
                        "providerHostCount": 0
                      }
                    },
                    {
                      "clientId": "93013672-b00c-4344-80ca-7ecf74f9dce1",
                      "cloudId": "global",
                      "configUpdated": "2024-06-18T13:44:28.250168Z",
                      "id": "p56wQiqrn7mfDEVEL",
                      "provider": "intune",
                      "status": {
                        "error": "Invalid Tenant ID.\nMicrosoft error: AADSTS90002: Tenant \u0027d1ae389b-5207-43a2-afca-2de6b03ac7e3\u0027 not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant. Trace ID: f6237360-98a2-4889-913b-e3d80aba7d00 Correlation ID: a2024a6e-7757-4406-8a8d-1b6ac2e03ad5 Timestamp: 2024-06-18 13:44:33Z",
                        "lastSync": "2024-06-18T08:44:33.872282-05:00",
                        "matchedCount": 0,
                        "possibleMatchedCount": 0,
                        "providerHostCount": 0
                      },
                      "tenantId": "d1ae389b-5207-43a2-afca-2de6b03ac7e3"
                    },
                    {
                      "clientId": "6cabf059-21c9-44d6-bbde-02898f7430dd",
                      "cloudId": "mysubdomain.jamfcloud.com",
                      "configUpdated": "2024-06-18T13:44:56.333103Z",
                      "id": "pFKyGf5YerWbDEVEL",
                      "provider": "jamfpro"
                    },
                    {
                      "clientId": "",
                      "cloudId": "mydomain.kandji.io",
                      "configUpdated": "2024-06-18T13:45:13.631878Z",
                      "id": "ph4mxtePUR2LDEVEL",
                      "provider": "kandji"
                    },
                    {
                      "clientId": "",
                      "cloudId": "",
                      "configUpdated": "2024-06-18T13:45:20.919656Z",
                      "id": "pvvTj3FGQAh8DEVEL",
                      "provider": "kolide",
                      "status": {
                        "error": "Kolide returned unexpected status code: 401 Unauthorized",
                        "lastSync": "2024-06-18T08:45:23.74563-05:00",
                        "matchedCount": 0,
                        "possibleMatchedCount": 0,
                        "providerHostCount": 0
                      }
                    },
                    {
                      "clientId": "",
                      "cloudId": "mydomain.sentinelone.net",
                      "configUpdated": "2024-06-18T13:45:36.128461Z",
                      "id": "pg9Wqc8sZW2TDEVEL",
                      "provider": "sentinelone"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "User does not have sufficient access to list posture integrations.",
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "tags": [
          "DevicePosture"
        ],
        "summary": "Create a posture integration",
        "description": "Create a posture integration, returning the resulting [PostureIntegration](#model/postureintegration).\n\nMust include \u0060provider\u0060 and \u0060clientSecret\u0060.\n\nCurrently, only one integration for each provider is supported.\n\nOAuth Scope: \u0060feature_settings\u0060.\n",
        "operationId": "CreatePostureIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostureIntegration"
              },
              "example": {
                "provider": "intune",
                "cloudId": "global",
                "clientId": "93013672-b00c-4344-80ca-7ecf74f9dce1",
                "tenantId": "d1ae389b-5207-43a2-afca-2de6b03ac7e3",
                "clientSecret": "as32598d#@%asdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureIntegration"
                }
              }
            }
          },
          "403": {
            "description": "User does not have sufficient access to create posture integrations.",
            "$ref": "#/components/responses/403"
          },
          "409": {
            "description": "A posture integration for the same provider already exists.",
            "$ref": "#/components/responses/409"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ]
    },
    "/posture/integrations/{id}": {
      "get": {
        "tags": [
          "DevicePosture"
        ],
        "summary": "Get a posture integration",
        "description": "Gets the posture integration identified by \u0060{id}\u0060.\n\nOAuth Scope: \u0060feature_settings:read\u0060.\n",
        "operationId": "GetPostureIntegration",
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureIntegration"
                }
              }
            }
          },
          "404": {
            "description": "Posture integration not found, or user is not authorized to read it.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "patch": {
        "tags": [
          "DevicePosture"
        ],
        "summary": "Update a posture integration",
        "description": "Updates the posture integration identified by \u0060{id}\u0060. You may omit the \u0060clientSecret\u0060 from your request to retain the previously configured \u0060clientSecret\u0060.\n\nOAuth Scope: \u0060feature_settings\u0060.\n",
        "operationId": "UpdatePostureIntegration",
        "requestBody": {
          "content": {
            "application/json": {
[...]
